services:
  postgres:
    image: postgres:17.6-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
      POSTGRES_DB: Hacaton
    volumes:
      - boilerplate-db:/var/lib/postgresql/data

  maildev:
    build:
      context: .
      dockerfile: maildev.Dockerfile
    ports:
      - "1080:1080"
      - "1025:1025"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - APP_PORT=3000
      - DATABASE_TYPE=postgres
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=1
      - DATABASE_NAME=Hacaton
      - DATABASE_URL=postgresql://postgres:1@postgres:5432/Hacaton
    depends_on:
      - postgres

volumes:
  boilerplate-db: